:root {
    --headerFont: 'Fredericka the Great', cursive;
    --bodyFont: 'Open Sans', sans-serif;
}

body {
    background-image: url("../../../public/images/Whitsundays.jpg");
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-size: 42px;
    font-family: var(--headerFont);
}

h2 {
    font-size: 36px;
    font-family: var(--headerFont);
}

p {
    font-size: 18px;
    font-family: var(--bodyFont);
}

.mypic {
    border-radius: 50%;
    padding: 20px;
}

.mypic,
.choralepic {
    max-width: 300px;
    padding-right: 1.25em;
}

.flexCenter {
    justify-content: center;
}
